* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --beige: #F4EFE7;
    --white: #F5F5F5;
    --black: #0F0503;
    --darkgreen: #1F2B2C;
    --orange: #CE7526;
    --lightgreen: #CADF9E;
    --green: #3C6957;
    --lightbrown: #A57B4D;
    --darkbrown: #70432B;
}

.hero {
    font-family: 'Michroma', sans-serif;
    color: var(--white);
    background: url(images/08-night.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
} 

.hero__nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.hero__logo {
    width: 12rem;
}

.hero__content {
    margin-top: 6rem;
}

.hero__heading {
    font-size: 3rem;
}

.hero__subheading {
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
}

.hero__divider {
    width: 70%;
    margin: 0 auto;
    border-color: var(--orange);
}

.hero__links {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
}

.hero__link {
    text-decoration: none;
    color: var(--white);
}

.hero__link:hover {
    background-color: #f4a261; /* Orange på hovring */
}





/* @media only screen and (min-width: 1200px) { */