* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --beige: #F4EFE7;
    --white: #F5F5F5;
    --black: #0F0503;
    --darkgreen: #1F2B2C;
    --orange: #CE7526;
    --lightgreen: #CADF9E;
    --green: #3C6957;
    --lightbrown: #A57B4D;
    --darkbrown: #70432B;
}

@font-face {
    font-family: 'Michroma';
    src: url(fonts/Fonts/Michroma-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Fonts/Montserrat-Regular.woff2) format('woff2');
    font-weight: 400;
    /* Normal */
    font-style: normal;
    font-display: swap;
}

/*Startsidan index.html*/
.hero {
    font-family: 'Michroma';
    color: var(--white);
    background: url(images/Background-start.webp);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero__nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.hero__logo-landscape {
    width: 12rem;
    height: 3rem;
}

.hero__menu {
    height: 3rem;
    width: 3rem;
    margin-left: auto;
}

.hero__logo-full,
.hero__nav-link,
.hero__heading--desktop {
    display: none;
}

.hero__content {
    margin-top: 6rem;
}

.hero__heading {
    font-size: 3rem;
    font-family: 'Michroma', Arial, sans-serif;
}

.hero__subheading {
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
}

.hero__divider {
    width: 70%;
    margin: 0 auto;
    border-color: var(--orange);
}

.hero__links {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
    cursor: pointer;
}

.hero__link {
    text-decoration: none;
    color: var(--white);
}

.hero__link:hover {
    background-color: #f4a261;
}

.hero__form {
    display: none;
}

/*Media queries for desktop for startsidan*/
@media only screen and (min-width: 768px) {
    .hero {
        background: url(images/green-background.webp), url(images/Background-start.webp);
        background-position: left top, right top;
        background-size: 35% 100%, 65% 100%;
        background-repeat: no-repeat;
    }

    .hero__logo-landscape,
    .hero__divider,
    .hero__menu-icon,
    .hero__links,
    .hero__heading,
    .hero__menu {
        display: none;
    }

    .hero__logo-full {
        display: block;
        width: 12rem;
        height: auto;
    }

    .hero__nav-link,
    .hero__form {
        display: block;
    }

    .hero__nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .hero__nav-links {
        display: flex;
        gap: 2rem;
        margin-left: 20rem;
    }

    .hero__nav-link {
        font-size: 1.7rem;
        text-decoration: none;
        color: var(--white);
        cursor: pointer;
        display: flex;
        padding: 1.5rem;
    }

    .hero__nav-link:hover {
        color: #f4a261;
    }

    .hero__subheading {
        font-size: 2rem;
        margin-left: 8rem;
        text-align: left;
    }

    .hero__form {
        display: flex;
        position: absolute;
        top: 38rem;
        right: 15rem;
        width: 40%;
        height: 5rem;
        padding: 1rem;
        border-radius: 1rem;
        justify-content: space-between;
        align-items: center;
        background-color: var(--white);
        color: var(--black);
    }

    .hero__key {
        height: 2rem;
        width: 2rem;
    }

    .hero__date {
        border-right: 0.13rem solid var(--black);
        padding-right: 2rem;
    }

    .hero__button {
        background-color: var(--darkgreen);
        color: var(--white);
        font-size: 1.3rem;
        width: 6rem;
        height: 3rem;
        border-radius: 1rem;
        cursor: pointer;
    }
}

/* Booking-sidan */
.header {
    height: 6rem;
    width: 100%;
    background: url(images/green-background.webp);
    display: flex;
    align-items: center;
}

.header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: relative;
}

.header__logo-mobile {
    height: 2.3rem;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -2rem;
    cursor: pointer;
}

.header__menu {
    height: 2rem;
    margin-bottom: -2rem;
    margin-right: auto;
}

.booking__text {
    padding-top: 1.5rem;
    background-color: var(--beige);
}

.booking__title {
    font-family: 'Michroma', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 0.7rem;
}

.booking__details {
    font-family: 'Montserrat';
    font-size: 1rem;
    text-align: center;
}

.booking {
    background-color: var(--beige)
}

.booking__cards {
    font-family: 'Montserrat';
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.booking__card {
    background-color: var(--white);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
}

.booking__image {
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

.booking__roomname,
.booking__description,
.booking__price {
    padding-left: 1rem;
    text-align: left;
}

.booking__divider {
    width: 90%;
    margin: 0 auto;
    border-color: var(--orange);
}

.booking__button {
    background-color: var(--lightgreen);
    color: var(--black);
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: bold;
    width: 8rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
}

.booking__button:hover {
    background-color: var(--lightbrown);
}

.booking__card--first,
.booking__card--third {
    border: 0.11rem solid var(--darkgreen);
}

.booking__card--second,
.booking__card--fourth {
    border: 0.2rem solid var(--lightgreen)
}

.footer {
    height: auto;
    width: 100%;
    background-color: var(--darkgreen);
    color: var(--white);
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    position: relative;
}

.footer__logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 3rem;
    width: 3rem;
}

.footer__title {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.footer__adress-text {
    font-size: 0.7rem;
}

/*Display none i mobil-vy*/
.header__link,
.header__logo-desktop,
.header__icon,
.booking__form,
.booking__search,
.footer__some,
.footer__vision {
    display: none;
}

/*Media queries for desktop for booking*/
@media only screen and (min-width: 768px) {
    .booking-page {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "header header header header header header"
            "main main main main main main"
            "footer footer footer footer footer footer";
    }
    .header {
        font-family: 'Michroma', sans-serif;
        font-weight: bold;
        grid-area: header;
        height: 20rem;
    }
    .header__logo-desktop {
        height: 15rem;
        width: 14rem;
    }
    .header__links {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        margin: 10rem 40rem 0 0;
        background: rgba(31, 43, 44, 0.8);
    }
    .header__link {
        font-size: 1.7rem;
        text-decoration: none;
        color: var(--white);
        cursor: pointer;
        padding: 1.5rem;
    }
    .header__link:hover {
        color: #f4a261;
    }
    .header__link--active {
        border-bottom: 0.2rem solid var(--lightgreen);
    }
    .header__icon {
        height: 4rem;
        width: 3rem;
    }
    .booking {
        grid-area: main;
    }
    .booking__text {
        background-color: var(--white);
        width: 40%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: auto;
        margin-top: 5rem;
        border-radius: 1rem;
    }
    .booking__title {
        font-size: 2.5rem;
        border-bottom: 0.2rem solid var(--orange);
    }
    .booking__details {
        font-size: 1.5rem;
    }
    .booking__cards {
        padding: 3rem 1rem 8rem 10rem;
        display: grid;
        grid-template-areas:
            "first first first second second second"
            ". third third third third ."
            "fourth fourth fourth fifth fifth fifth"
            ". sixth sixth sixth sixth .";
        grid-template-columns: repeat(6, 1fr);
        gap: 3rem;
    }
    .booking__card--first {
        grid-area: first;
    }
    .booking__card--second {
        grid-area: second;
    }
    .booking__card--third {
        grid-area: third;
    }
    .booking__card--fourth {
        grid-area: fourth;
    }
    .booking__card--fifth {
        grid-area: fifth;
    }
    .booking__card--sixth {
        grid-area: sixth;
    }
    .booking__card {
        width: 85%;
        height: auto;
        border: 0.3rem solid var(--green);
    }
    .booking__image {
        height: 70%;
    }
    .booking__roomname {
        font-size: 1.4rem;
    }
    .booking__description,
    .booking__price {
        font-size: 1.2rem;
    }
    .booking__button {
        height: 3rem;
        width: 10rem;
    }
    .footer {
        grid-area: footer;
        height: 20rem;
        padding-top: 3rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .footer__logo {
        height: 6rem;
        width: 6rem;
        margin-top: 2rem;
        margin-left: 4rem;
    }
    .footer__some {
        height: 12rem;
        width: 12rem;
        padding-top: 7rem;
        margin-left: 2rem;
    }
    .footer__vision {
        margin-right: 4rem;
    }
    .footer__title {
        font-size: 1.3rem;
        margin-top: 0.5rem;
        font-weight: 100;
    }
    .footer__adress-text,
    .footer__vision-text {
        font-size: 1rem;
        font-weight: 100;
    }
    .header__link,
    .header__logo-desktop,
    .header__icon,
    .booking__form,
    .booking__search,
    .footer__some,
    .footer__vision {
        display: block;
    }
    .header__logo-mobile,
    .header__menu {
        display: none;
    }
}

/*Om oss-sidan mobilvy*/
.info {
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
}
.info__title {
    font-family: 'Michroma', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    border-bottom: 0.1rem solid var(--orange);
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: -1rem;
}
.info__card {
    font-size: 1rem;
    line-height: 1.5;
    gap: 1rem;
    padding: 4rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.info__image {
    border-radius: 0.5rem;
}
.info__card--second {
    background-color: var(--darkbrown);
    color: var(--white);
}
.info__card--third {
    background-color: var(--green);
    color: var(--white);
}
.info__card--fourth {
    background-color: var(--lightgreen);
}
.info__carbon {
    margin: 1rem;
    display: flex;
    padding: 1rem;
}
.info__heading {
    font-family: 'Michroma', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    padding: 0.5rem;
}
.info__globe,
.info__arrow {
    height: 2rem;
    width: 2rem;
}
.info__ai {
    display: none;
}

/* Media queries for desktop for om oss */
@media only screen and (min-width: 1000px) {
    .header__link.active{
        border-bottom: 0.2rem solid var(--lightgreen);
    }
    .info {
        background-color: var(--beige);
    }
    .info__title {
        font-size: 2.5rem;
        border-bottom: 0.2rem solid var(--orange);
        width: 30%;
        margin: 5rem 0 0 35rem;
    }
    .info__cards {
        margin: 5rem;
        height: 70rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 2rem;
        grid-template-areas:
            "first second"
            "third fourth"
            "carbon ai";
    }
    .info__card {
        display: flex;
        flex-direction: column;
        min-height: 27rem;
    }
    .info__image {
        width: 65%;
        height: 100%;
        object-fit: cover;
    }
    .info__text {
        font-size: 1.1rem;
        line-height: 1.9;
        width: 100%;
        object-fit: cover;
    }
    .info__card--first {
        grid-area: first;
        background-color: var(--white);
        display: flex;
        flex-direction: row;
    }
    .info__card--second {
        grid-area: second;
        display: flex;
        flex-direction: row-reverse;
    }
    .info__card--third {
        grid-area: third;
        display: flex;
        flex-direction: row-reverse;
    }
    .info__card--fourth {
        grid-area: fourth;
        display: flex;
        flex-direction: row;
    }
    .info__carbon {
        grid-area: carbon;
        display: flex;
        flex-direction: row;
    }
    .info__globe {
        height: 3rem;
        width: 3rem;
    }
    .info__arrow {
        height: 3rem;
        width: 4rem;
    }
    .info__heading {
        font-size: 1.7rem;
        font-weight: 100;
    }
    .info__ai {
        grid-area: ai;
        display: block;
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        margin-left: 2rem;
    }
}

@media only screen and (min-width: 768px) and (max-width:1100px) {
    .header__links {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        margin: 10rem 20rem 0 0;
        background: rgba(31, 43, 44, 0.8);
    }
    .header__link {
        font-size: 1.7rem;
        text-decoration: none;
        color: var(--white);
        cursor: pointer;
        padding: 1.5rem;
    }

    .header__link.active{
        border-bottom: 0.2rem solid var(--lightgreen);
    }
    .info {
        background-color: var(--beige);
    }
    .info__title {
        font-size: 2.5rem;
        border-bottom: 0.2rem solid var(--orange);
        width: 30%;
        margin: 5rem 0 0 20rem;
    }
    .info__cards {
        margin: 5rem;
        height: 70rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 2rem;
        grid-template-areas:
            "first second"
            "third fourth"
            "carbon ai";
    }
    .info__card {
        display: flex;
        flex-direction: column;
        min-height: 27rem;
    }
    .info__image {
        width: 65%;
        height: 100%;
        object-fit: cover;
    }
    .info__text {
        font-size: 1rem;
        line-height: 1.7;
        width: 100%;
        object-fit: cover;
    }
    .info__card--first {
        grid-area: first;
        background-color: var(--white);
        display: flex;
        flex-direction: row;
    }
    .info__card--second {
        grid-area: second;
        display: flex;
        flex-direction: row-reverse;
    }
    .info__card--third {
        grid-area: third;
        display: flex;
        flex-direction: row-reverse;
    }
    .info__card--fourth {
        grid-area: fourth;
        display: flex;
        flex-direction: row;
    }
    .info__carbon {
        grid-area: carbon;
        display: flex;
        flex-direction: row;
    }
    .info__globe {
        height: 3rem;
        width: 3rem;
    }
    .info__arrow {
        height: 3rem;
        width: 4rem;
    }
    .info__heading {
        font-size: 1.7rem;
        font-weight: 100;
    }
    .info__ai {
        grid-area: ai;
        display: block;
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        margin-left: 2rem;
    }
}