* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --beige: #F4EFE7;
    --white: #F5F5F5;
    --black: #0F0503;
    --darkgreen: #1F2B2C;
    --orange: #CE7526;
    --lightgreen: #CADF9E;
    --green: #3C6957;
    --lightbrown: #A57B4D;
    --darkbrown: #70432B;
}


/*Startsidan index.html*/
.hero {
    font-family: 'Michroma', sans-serif;
    color: var(--white);
    background: url(images/08-night-webp.webp);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero__nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.hero__logo-landscape {
    width: 12rem;
    height: 3rem;
}

.hero__logo-full,
.hero__nav-link,
.hero__heading--desktop {
    display: none;
}

.hero__content {
    margin-top: 6rem;
}

.hero__heading {
    font-size: 3rem;
    font-family: 'Michroma', Arial, sans-serif;
}

.hero__subheading {
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
}

.hero__divider {
    width: 70%;
    margin: 0 auto;
    border-color: var(--orange);
}

.hero__links {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
    cursor: pointer;
}

.hero__link {
    text-decoration: none;
    color: var(--white);
}

.hero__link:hover {
    background-color: #f4a261;
    /* Orange på hovring */
}

.hero__form {
    display: none;
}


/*Media queries for desktop for startsidan*/

@media only screen and (min-width: 768px) {
    .hero {
        background: url(images/green-background-webp.webp), url(images/08-night-webp.webp);
        background-position: left top, right top;
        background-size: 35% 100%, 65% 100%;
        background-repeat: no-repeat;
    }

    .hero__logo-landscape,
    .hero__divider,
    .hero__menu-icon,
    .hero__links,
    .hero__heading,
    .hero__menu {
        display: none;
    }

    .hero__logo-full {
        display: block;
        width: 12rem;
    }

    .hero__nav-link,
    .hero__form {
        display: block;
    }

    .hero__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hero__nav-link {
        margin-top: 3rem;
        font-size: 1.5rem;
        text-decoration: none;
        color: var(--white);
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        padding: 2rem;
        /*ha mindre mellanrum mellan länkarna*/
    }

    .hero__nav-link:hover {
        background-color: #f4a261;
    }

    .hero__subheading {
        font-size: 2rem;
        margin-left: 8rem;
        text-align: left;
    }

    .hero__form {
        width: 50rem;
        height: 5rem;
        margin-top: 4rem;
        margin-left: 30rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        ;
        color: var(--black);
        background-color: var(--white);
        cursor: pointer;
    }

    .hero__key {
        height: 2rem;
        width: 2rem;
    }

    .hero__date {
        border-right: 0.13rem solid var(--black);
        padding-right: 2rem;
    }

    .hero__button {
        background-color: var(--orange);
        color: var(--white);
        font-size: 1.3rem;
        width: 6rem;
        height: 3rem;
        border-radius: 1rem;
        cursor: pointer;
    }
}


/*Booking-sidan*/

.header {
    height: 6rem;
    width: 100%;
    background: url(images/green-background-webp.webp);
    display: flex;
    align-items: center;
}

.header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: relative;
}

.header__logo-mobile {
    height: 2.3rem;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -2rem;
    cursor: pointer;
}

.header__menu {
    height: 2rem;
    margin-bottom: -2rem;
    margin-right: auto;
}

.booking__text {
    padding-top: 1.5rem;
}

.booking__title {
    font-family: 'Michroma', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 0.7rem;
}

.booking__details {
    font-family: 'Montserrat';
    font-size: 1rem;
    text-align: center;
}

.booking {
    background-color: var(--beige)
}

.booking__cards {
    font-family: 'Montserrat';
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.booking__card {
    background-color: var(--white);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;

}

.booking__image {
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

.booking__roomname,
.booking__description,
.booking__price {
    padding-left: 1rem;
    text-align: left;
}

.booking__divider {
    width: 90%;
    margin: 0 auto;
    border-color: var(--orange);
}

.booking__button {
    background-color: var(--lightgreen);
    color: var(--black);
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: bold;
    width: 8rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
}

.booking__button:hover {
    background-color: var(--lightbrown);
}

.booking__card--first,
.booking__card--third {
    border: 0.11rem solid var(--darkgreen);
}


.booking__card--second,
.booking__card--fourth {
    border: 0.2rem solid var(--lightgreen)
}

.footer {
    height: 6rem;
    width: 100%;
    background-color: var(--darkgreen);
    color: var(--white);
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    position: relative;
}

.footer__logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 3rem;
    width: 3rem;
}

.footer__title {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.footer__adress-text {
    font-size: 0.7rem;
}


/*Display none i mobil-vy*/
.header__link,
.header__logo-desktop,
.header__icon,
.booking__form,
.footer__some,
.footer__vision {
    display: none;
}

/*Media queries for desktop for booking*/

@media only screen and (min-width: 768px) {

    body {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "header header header header header header"
            "main main main main main main"
            "footer footer footer footer footer footer";
    }


    .header {
        font-family: 'Michroma', sans-serif;
        grid-area: header;
        height: 20rem;
        /* display: flex;
        flex-direction: row;
        justify-content: space-evenly; */
    }

    .header__logo-desktop {
        height: 15rem;
        width: 14rem;
    }

    .header__link {
        margin-top: 3rem;
        font-size: 1.5rem;
        text-decoration: none;
        color: var(--white);
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        padding: 2rem;
        /*ha mindre mellanrum mellan länkarna*/
    }

    .header__icon {
        height: 4rem;
        width: 3rem;
    }

    .booking {
        grid-area: main;
        display: grid;
        grid-template-columns: repeat(4 1fr);
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
    }

    .booking__card--first,
    .booking__card--fourth {
        width: 70%;
        height: 20%;
    }

    .booking__card--second,
    .booking__card--third {
        width: 35%;
        height: 20%;
    }

    footer {
        grid-area: footer;
    }



    .header__link,
    .header__logo-desktop,
    .header__icon {
        display: block;
    }

    .header__logo-mobile,
    .header__menu {
        display: none;
    }

}









/*Om oss-sidan mobilvy*/

.info {
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
}

.info__card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
}

.info__title {
    font-family: 'Michroma', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 0.7rem;
}

.info__card--first {}

.info__card--second {
    background-color: var(--lightbrown);
    color: var(--white);
}

.info__card--third {
    background-color: var(--green);
    color: var(--white);
}

.info__card--fourth {
    background-color: var(--lightgreen);
}

.info__carbon {
    display: flex;
    padding: 1rem;
}

.info__heading {
    font-family: 'Michroma', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    padding: 0.5rem;
}

.info__globe,
.info__arrow {
    height: 2rem;
    width: 2rem;

}

/*Media queries for desktop for om oss*/

/* @media only screen and (min-width: 768px) */